*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6e2f0;
}

.container {
  max-width: 350px;
  background-color: #fff;
  margin: 30px auto;
  border-radius: 15px;
}

.imge {
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
}

.imge img {
  width: 100%;
  display: block;
  border-radius: 8px;
  margin: 20px 0;
}

.info {
  padding: 0 30px ;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

.info h1 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
  color: #1f3251;
}

.info p {
  font-size: 14px;
  padding-bottom: 20px;
  color: #68778d;
  
}